.mealspage{
    border-bottom: 5px solid blue;
}
.new-heading-content{
    padding: 0 90;
    display: flex;
    justify-content: center;
}
.new-heading-content h1{
    font-size: 55;
    color: blue ;
    line-height: 0;
    font-weight: 800;
}
.heading1-content{
    padding-left: 20;
    padding-right: 20;
    color: blue;
}
.heading1-content h1{
    display: flex;
    justify-content: center;
}
.meal__number1-content{
    padding: 0 50;
    
}
.meal1-info{
    display: flex;
}
.right-meal-side{
    width: 50%; 
}
.right-image img{   
    width: 100%;
    height: 600px;
}
.left-meal-side{
    padding-right: 0;
    width: 50%;
    margin-left: 20;
    padding-bottom: 30;
}
.topic1 h1{
    color: blue;
    font-weight:bolder;
    font-size: 24;
    margin-bottom: 0;
}
.checked{
    color: blue;
    line-height: 1;
}
#star1{
    font-size: 30;
}
.des1{
    margin-top: 40;
}
.desp1-content{
    padding-right: 0;
}
.info__chicken p{
    width: 100%;
    color: gray;
}
.info__chicken2 p{
    width: 100%;
    color: gray;
}
.info__chicken3 p{
    width: 100%;
    color: gray;
}
.doc-say1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.doc-say1 p{
    width: 440;
    color: rgba(0, 0, 0, 0.753);
    margin-bottom: 0;
}
#doc-name{
    margin-top: 0;
    font-size: 12;
}
.ingri1{
    width: 85%;
}
.ingri-heading1{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.ingri1 h3{
    margin-top: 5;
    margin-bottom: 5;
    color:rgba(27, 26, 26, 0.87);
    font-weight: 550;
    cursor: pointer;
}
.content1_drop{
    line-height: 1;
}
.ingri-drop{
    animation: menu1 300ms ease-in forwards;
    opacity: 0;
    
}
.ingri2__drop__down{
    animation: menu1 500ms ease forwards;
    opacity: 0;
}
.ingri3__drop__down{
    animation: menu1 500ms ease forwards;
    opacity: 0;
}
.ingri4__drop__down{
    animation: menu1 500ms ease forwards;
    opacity: 0;
}
@keyframes menu1{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.plus1{
    display: flex;
    align-items: center;
    justify-content: end;
}
.ingri-heading1:hover{
    color: blue;
}
#drop_down_id:hover{
    color: blue;
}
.hading__1{
    border-top: 0;
}
table{
    border: 0;
    font-size: 14;
    margin-top: 5px;
    border-collapse: collapse;
    border-spacing: 0;
}
tr:nth-child(odd)
{
    background-color: #f0f0f0;
}
tr td{
    font-size: 12;
    padding: 0;
    font-weight: 700;
}
#drop_drown_id{
    font-size: 15;
}
.drop_3_image{
    display: flex;
   justify-content: center;
}
.drop_3_image img{
    height: 200;
}
.drop_4_image img{
    width: 100%;
    height: 250;
}
.try-btn1{
    margin-top: 10;
}
.drop_plan1{
    width: 85%;
    font-size: 15;
    height: 35px;
    background-color: blue;
    border: 1px solid blue;
    color: white;
}

.nav__nav{
    top: 13%;
}

/*media queries*/

@media screen and (max-width:991px)
{
    .meal1-info{
        display: flex;
        flex-direction: column;
    }
    .meal__number1-content{
        padding-left: 0;
        padding-right: 0;
    }
    .right-meal-side{
        width: 100%;
    }
    .right-image img{
        height: 680;
    }
    .left-meal-side{
        width: 100%;
        margin-left: 0;
    }
    .ingri1{
        width: 95%;
    }
    .left-meal-topic{
        display: flex;
        justify-content: center;
    }
    .try-btn1{
        margin-left: 70;
    }
}
@media screen and (max-width:550px)
{
    .new-heading-content h1{
        font-size: 45;
    }
    .doc-say1 p{
        width: 315;
        font-size: 12;
    }
}
