@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');
body{
    margin: 0;
    padding: 0;
    border: 0;  
    min-height: 100%;
    font-family: 'Baloo Paaji 2', cursive;
    display: block;
}
*{
    box-sizing: border-box;
}
div{
    border: 0;
    padding: 0;
    margin: 0;
}
.container{
    
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 100%;
    min-height: 675px;
}
.navbar{
    width: 100%;
    background-color: white;
}
.navbar-inside{
    padding-left: 30;
    padding-right: 30;
    display: flex;
}
.navbar-left{
    width: 40%;
    font-size: 50;
}
.main-logo{
    padding-left: 40;
    padding-top: 20;
}
.main-logo a{
    text-decoration: none;
    color: blue;
    font-weight: 700;
}
.right-nav{
    justify-content: space-evenly;
    margin-left: 20;
    width: 100%;
    display: flex;
}
.right-nav ul{
    display: flex;
    list-style: none;
    margin-left: 0;
    align-items: center;
    padding-top: 30;
}
#menubar{
    padding-left: 0;
}
#menubar a{
    text-decoration: none;
}
.menulog{
    padding-right: 40;
    font-size: 20;
    color: blue;
}
#menubar .start{
    border: 1px solid blue;
    padding-left: 5;
    color: white;
    background-color: blue;
    font-weight: 700;
   
}
#navigate{
    margin-left: 10;
}
.image-main{
    display: flex;
    align-items: center;
}
.image-main img{
    width: 100%;height: 550;
}
.main-info{
    z-index: 800;
}
.image-main{
    background-image:url(https://www.petplate.com/wp-content/uploads/2019/08/PP-Hero-Dog-2880-1.png);
    background-position: center;
    min-height: 700px;
    width: 100%;
}
.image-text{
    width: 100%;
    margin-left: 60;
}
.realfood , .freshfood{
    font-size: 40;
    color: blue;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: 1px;
}
.personalfood{
    font-size: 20;
    line-height: 2rem;
    color: blue;
    font-weight: 550;
}
.createmeal{
    line-height: 4rem;
    border: 1px solid blue;
    padding: 5 20;
    background-color: blue;
    color: white;
    font-weight: 700;
}
.image-text a{
    text-decoration: none;
}
.company-achivement{
    min-height: 120px;
    margin-top: 10;
}
.ca-images{
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    align-items: center;
}
.ca-content{
    padding: 0 180;
}
.food-prop{
    display: flex;
    padding:  0 90;
   
}
.food-prop-left{
    width: 50%;
}
.food-prop-image{
    display: flex;
    justify-content: center;
}
.food-prop-image img{
    height: 550px;
}
.food-prop-content{
   
    color: blue;
}
.food-prop-content h1{
    line-height: 1.2;
    margin-left: 39;
}
.food-prop-properties{
    color: black;
    font-size: 20;
    list-style: none;
}
.food-prop-properties li::before{
    content: "+";
    padding-right: 10;
    color: blue;
}
.reasons-pet{
    background-color: #f6f6f6;
    display: flex;
    padding-left: 20;
    margin-top: 20;
}
.reasons-left{
    width: 50%;
}
.reasons-left-image img {
    width: 100%;
    height: 600;
}
.reasons-content{
    padding-left: 30;
    margin-top: 100;
}
.reasons-content p {
    line-height: 0;
    color: rgb(85, 81, 81);
    letter-spacing: 1px;
}
.reasons-content h1{
    color: blue;
    font-size: 40;
}
.reasons-content h3{
    color: blue;
    font-size: 25;
    line-height: 1;
}

.power-pet{
    padding-left: 20;
    min-height: 600;
    display: flex;
    background-color: #f6f6f6;
}
.power-left{
    width: 50%;
    height: 100%;
}
.power-list{
    color: #0b38f2;
    margin-bottom: 23px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
    font-size: 0;
    text-align: center;
    max-width: 440px;
}
.power-left-content{
    height: 100%;
    display: inline-block;
}
.power-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-weight: 700;
    font-size: 40;
}
.power-items{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.89;
    letter-spacing: normal;
    text-align: center;
    float: left;
    margin-bottom: 0;
    width: 50%;
    display: list-item;
    list-style-position: inside;
}
.power-btn button{
    width: 250;
    font-size: 20;
    font-weight: 700;
    height: 60;
    background-color: rgb(223, 223, 10);
    border: 2px solid rgb(223, 223, 10);
    margin-top: 30;
    margin-left: 70;
    cursor: pointer;
}
.power-right-image img{
    height: 600;
    width: 100%;
}
.power-right{
    width: 50%;
}    
.cooking-prop{
    padding-top: 40;
    margin-top: 40;
}
.cooking-prop-content{
    padding: 0 10;
}
.cooking-prop-content h2{
    display: flex;
    justify-content: center;
    font-size: 35;
    margin: 0;
    color: blue;
    font-weight: 700;
}
.cooking-list{
    list-style: none;
    display: flex;
    margin-top: 40;
    padding-left: 10;
}
.cooking-list-text{
    width: 33%;
}
.list1-image{
    display: flex;
    justify-content: center;
}
.cooking-list-text h3{
    margin-top: 40;
    display: flex;
    justify-content: center;
    font-size: 30;
    color: blue;
    line-height: 0;
    font-weight: 700;
}
.cooking-list-text p{
    
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18;
    margin-left: 60;
    margin-right: 60;
}
#cooking-list-text3{
    margin-top: 50;
    margin-left: 30;
}
#cooking-list-text1{
    margin-right: 30;
}
#cooking-list1{
    margin: 0;
}
#cooking-list2{
    margin: 0;
}
#cooking-list3{
    margin: 0;
}
.insta-follow-content{
    padding: 0 90;
}
.insta-heading h1{
    display: flex;
    justify-content: center;
    font-size: 45;
    color: blue;
    margin-top: 90;
    line-height: 0;
    font-weight: 700;
}
.insta-heading h3{
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 30;
}
.insta-heading a{
    text-decoration: none;
}
.footer{    
    min-height: 466px;
    background-color: blue;
}
.footer-content{
    padding: 0 50;
    display: flex;
    color: white;   
    height: 466px;
}
.footer-left{
    width: 50%;
    border-right: 1px solid white;
}
.footer-left h1{margin-top: 70; font-size: 25;display: flex;justify-content: flex-start;width: 100%;}
.email{
    padding-bottom: 50;
    
}
#email-confo{
    height: 40;
    width: 200;
    
}
#sign-up{
    height: 40;
  
    width: 100;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: 2px solid white;
}
.browse{
    margin-top: 30;
    margin-left: 50;
}
.browse ol {
    list-style-type: none;
}
.browse h3{
    margin-left: 37;
    font-size: 40;
    font-weight: 700;
    line-height: 0;
}
.browse li {
    line-height: 1.3;
    font-weight: 800;
}
.support{
    margin-left: 180;
}
.support h1{
    margin-top: 70;
    font-size: 40;
    font-weight: 800;
    line-height: 0;
}
.support p{line-height: 0;font-weight: 800;}

/*media queries*/


@media screen and (max-width:1100px)
{
    body{
        margin: 0;
        padding: 0;
        border: 0;
        display: block;
        min-width: 100%;
        
    }
    .footer-left h1{
        font-size: 20;
    }
    .createmeal{
        height: 40px;
        width: 201px;
    }
    .menulog{
        height: 40;
        display: flex;
        align-items: center;
    }
    .navbar-left{
        width: 40%;
        font-size: 45;
    }
    .main-logo{
        padding-top: 30;
    }
    .food-prop-content h1{
        width: 480px;
    }
    .reasons-left{
        width: 51%;
    }
    .reasons-content h1{
        font-size: 30;
        font-weight: 700;
    }
    .reasons-content p{
        font-size: 13;
    }
    .power-left-content h2{
        font-size: 25;
        margin-top: 110;
    }
    .power-btn button{
        margin-left: 90px;
    }
    .food-prop-properties{
        line-height: 1.6;
    }
    .insta-heading h1{
        font-size: 35;
    }
    .browse h3{
        font-size: 30;
        font-weight: 800;
        padding-top: 10;
    }
    .browse ol{
        padding-top: 30;
    }
    .support h1{
        font-size: 30;
    }
    .support h3{
        padding-top: 30;
    }
}
@media screen and (max-width:1100px)
{
    body{
        margin: 0;
        padding: 0;
        border: 0;
        display: block;
        min-width: 100%;
        
    }
    .main-logo{
        font-size: 30;
        padding-top: 42;
    }
    .menulog{
        font-size: 15;
    }
}
@media screen and (max-width:991px)
{
    body{
        margin: 0;
        padding: 0;
        border: 0;
        display: block;
        min-width: 100%;
        
    }
   
    .image-text{
        display: flex;
        flex-direction: column;
        line-height: 0;
        align-items: center;
        margin-bottom: 430;
    }
    .realfood{
        font-size: 24;
        
    }
    .freshfood{
        font-size: 24;
        line-height: 0.5;
    }
    .personalfood{
        font-size: 15;
        line-height: 3.5;
    }
    .image-main{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 64% 100%;
    }
    .food-prop{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }
    .food-prop-content h1{
        width: 500;
        letter-spacing: 3.5px;
        font-size: 20;
    }
    .food-prop-properties{
        font-size: 15;
        letter-spacing: 2.5px;
        line-height: 2.2rem;
    }
    .food-prop-left{
        width: 100%;
        margin-top: 30;
    }
    .food-prop-image img{
        height: 320px;
    }
    .reasons-pet{
        display: flex;
        flex-direction: column;
    }
    .reasons-left{
        width: 100%;
    }
    .reasons-right{
        background-color: #f6f6f6;
    }
    .reasons-content{
        margin-top: 50;
        padding: 0;
    }   
    .power-pet{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 40;
    }.power-right{width: 100%;
        padding-right: 5;}
    .power-left{
        width: 100%;
        display: flex;
        justify-content: center;
    } 
    .power-list li{
        font-size: 16;
    }   
    .power-left-content{
        width: 100%;
        margin-bottom: 30;
    }
    .power-btn button{
        width: 150;
        height: 40;
        margin-left: 380;
        margin-bottom: 40;
    }
    .power-left-content h2{
        margin-top: 50;
    }
    .cooking-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cooking-prop-content h2{
        font-size: 25;
    }
    .list1-image img{
        height: 100;
    }
    .cooking-list-text h3{
        font-size: 20;
    }
    .cooking-list p{
        font-size: 16;
        line-height: 1.5;
    }
    .threeimage img{
        height: 50;
    }
    .right-nav{
        display: none;
    }
    .insta-heading {
        margin-left: 60;
    }
    .insta-heading h1{
        font-size: 25;
    }
    .insta-heading h3{
        font-size: 20;
    }
    .footer{
        min-height: 1100;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        height: 120%;
    }
    .footer-left{
        border: 0;
    }
    .footer-left{
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-left h1{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 2px;
    }
    .email{
        margin-left: 20;
    }
    #email-confo{
        width: 300;
    }
    .browse{
        margin-right: 90;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .browse ol{
        text-align: center;
        margin-top: 0;
        padding-top: 0;
    }
    .browse ol li{
        padding-bottom: 5;
        font-size: 20;
    }
    .support{
        display: flex;
        flex-direction: column;
        line-height: 0;
        align-items: center;
        margin-right: 190;
    }
        .support h1{
            margin-bottom: 0;
            padding-bottom: 0;
        }
    .ca-images{
        padding: 0;
    }
    .power-btn{
        display: none;
    }
}
@media screen and (max-width:991px)
{
    body{
        margin: 0;
        padding: 0;
        border: 0;
        display: block;
        min-width: 100%;
        
    }
    .ca-images li img{
        width: 90;
        height: 50;
    }
    .nav__item--cta {
        display: none;
    }
    
}
@media screen and (min-width:991px)
{
    body{
        margin: 0;
        padding: 0;
        border: 0;
        display: block;
        min-width: 100%;
        
    }
    .nav-menu{
        display: none;
    }
    
}
.nav-menu{
    margin-left: auto;
    margin-right: 0;
}
.nav-mobile{
    align-items: center;
    display: flex;
    line-height: 1;
    margin-left: 20;
}
#mobile-menu-button{
    margin-top: 40;
}
.nav-mobile-button{
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    border: none;
    background-color: transparent;
   
    color: blue !important;
    cursor: pointer;
    height: 30px;
    line-height: 0;
    margin: 0 auto;
    width: 34px;
    z-index: 200;
    transition: background-color 0.3s;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

}
.mobile-button:hover .mobile-button__bar {
    background-color: #163fff;

}
.mobile-button__bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.mobile-button__bar {
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #002cf6;
}
.nav__item {
    position: relative;
    display: block;
    margin: 0;
}

.nav__nav {
    
    background: #f2f2f2;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    left: 0;
    opacity: 1;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 20%;
    transform: translateZ(0);
    transition: visibility 0s 0.2s, opacity 0.2s ease-in;
    visibility: visible;
    z-index: 100;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
.nav__item {
    position: relative;
    display: block;
    margin: 0;
}
.nav-list li{
    
    line-height: 160%;
    list-style-position: inside;
    
    vertical-align: baseline
}

@media screen and (max-width:991px)
{
    .nav__list {
        font-size: 42px;
        text-align: center;
        text-transform: uppercase;
        font-family: "SW-Separat";
    }
}
@media screen and (max-width:991px)
{
    .ca-images li img{
        height: 25;
    }
    #shark{
        height: 35;
    }
    #nbc{
        height: 35;
    }
    .food-prop{
        margin-top: -40;
    }
    .food-prop-properties li{
        letter-spacing: 1px;
    }
    #cooking-list1{
        width: 300px;
        margin-left: -55;
    }
    #cooking-list2{
        width: 300px;
        margin-left: -55;
    }#cooking-list3{
        width: 300px;
        margin-left: -55;
    }
    .cooking-list-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list1-image{
        margin-left: -30;
    }
    .cooking-list-text h3{
        margin-left: -40;
    }
    .insta-heading{
        margin-left: -40;
    }
    .food-prop-content h1{
        width: 400;
        letter-spacing: 1;
    }
}

@media screen and (max-width:500px)
{
    .food-prop-content h1{
        width: 300;
    }
    .navbar-left{
        width: 300;
    }
    .main-logo{
        padding-left: 0;
        padding-top: 30;
    }
    #sign-up{
        margin-left: 90;
        margin-top: 20;
    }
    
}
@media screen and (max-width:450px)
{
    .ca-images li img{
        height: 15;
        width: 40;
    }
    .insta-follow{
        display: none;
    }
    #email-confo{
        width: 200;
    }
}
@media screen and (max-width:520px)
{
    #sign-up{
        margin-left: 50;
        margin-top: 20;
    }
    .email{
        margin-left: 60;
    }
}
@media screen and (max-width:380px)
{
    .image-text{
        margin-left: 0;
    }
    .food-prop-properties li{
        font-size: 13;
    }
    .food-prop-properties{
        padding-left: 15;
    }
    .food-prop-content h1{
        margin-left: 15;
    }
    .reasons-left-image img{
        width: 350;
        height: 400;
        margin-left: -20;

    }
    .reasons-content h1{
        font-size: 25;
    }
    .support{
        display: none;
    }
    .cooking-list-text{
        margin-left: 70;
        margin-right: 30;
    }
    #number2{
        margin-right: 50;
    }
    #cooking-list2{
        margin-left: 0;
    }
    #cooking-list3{
        margin-left: 10;
    }
    #email-confo{
        margin-left: -40;
    }
    #sign-up{
        margin-left: 10;
    }
}

